<main class="container mx-auto">
    <h3 class="font-light uppercase text-2xl mt-20" >Proyecto Base con TypeScript</h3>
    <p>
        Proyecto creado con
        {{>a-links text='Webpack' href='https://webpack.js.org/' }},
        {{>a-links text='Handlebars' href='https://handlebarsjs.com' }} y
        {{>a-links text='TailwindCSS' href='https://tailwindcss.com' }} con
        {{>a-links text='Page.js' href='https://github.com/visionmedia/page.js' }}
    </p>
</main>
